@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Manrope:wght@300;400&display=swap');

:root {
  --black: #2e2e27;
}

body {
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin: 30px 0 0 20px;
  background-color: #fff;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clock {
  font-family: 'Azeret Mono', monospace;
  font-size: 38px;
  font-weight: 400;
  line-height: 40px;
  margin: 10px 0;
  padding: 40px 20px;
  background-image: linear-gradient(270deg,hsl(64, 100%, 74%),#e0ff88);
  border: var(--black) 1px solid;
  border-right: none;
  border-radius: 8px 0 0 8px;
  transition:  ease-out 0.2s;
}

.clock:hover {
  background-image: linear-gradient(270deg,hsl(76, 100%, 5%),hsl(64, 100%, 5%));
  color: #fff;
}

